// Defines all variables

// Color theme
$color-dark-grey: #202020;
$color-grey: #6e6e6e;
$color-neon-orange: #ff5a09;
$color-pale-orange: #f3843e;
$color-light-orange: #ff9900;
$color-off-white: #e9e9e9;
$color-grey-blend: #919191;

// Global
$font-family: Raleway, sans-serif;
$body-color: $color-off-white;
$body-background-color: $color-dark-grey;

$spacing-content: 64px;
$spacing-subsection: 18px;


// Page
